  <button
  [type]="buttonType"
  class="flex w-full items-center justify-center gap-2 cursor-pointer font-roboto text-center text-sm rounded-md h-9 py-2 px-4
    disabled:cursor-not-allowed disabled:text-tuna-400"
  [ngClass]="{
    'bg-radiance-900 text-radiance-50 hover:bg-radiance-700 active:bg-radiance-950 disabled:bg-radiance-200': color === 'blue',
    'bg-green-600 text-white hover:bg-green-500 active:bg-green-700 disabled:bg-green-300': color === 'green',
    'bg-red-600 text-white hover:bg-red-500 active:bg-red-700 disabled:bg-red-300': color === 'red'
  }"
  [disabled]="isDisabled"
  (click)="onClick.emit()"
>
  <img *ngIf="iconSrc" [src]="iconSrc" class="w-4 h-4" alt="icono" />
  <span>{{ buttonText }}</span>
</button>
