<div class="min-h-screen bg-white text-tuna-900 flex items-center justify-center px-4 font-poppins bg-[url('/assets/login-bg.svg')] bg-cover bg-center">
  <div class="bg-white shadow-2xl rounded-md p-8 max-w-md w-full text-center">
      <img src="/assets/logo-tecnm.svg" alt="logo tecnm" class="mx-auto mb-6 w-16">
      @if(passwordCreated){

        <h1 class="text-2xl font-bold mb-4"> Contraseña creada con exito</h1>
        <app-button buttonText="Volver al inicio de sesión" routerLink="/login"/>

      } @else {
        <h1 class="text-2xl font-bold mb-4"> Solicita reposición de contraseña </h1>
        
        <p class="text-sm mb-6 leading-relaxed"> 
            Tu contraseña debe contener al menos una mayúscula y un número
        </p>
        

        <form [formGroup]="form" class="flex flex-col gap-4 mb-6">
            <app-input id="newPassword" type="password" placeholder="Nueva contraseña" controlName="newPassword" />
            <app-input id="confirmedPassword" type="password" placeholder="Repite tu contraseña" controlName="confirmedPassword" />
          <app-button buttonText="Guardar" (onClick)="submitForm()"/>
        </form>

        @if(passworNotMatch) {
            <p class="text-sm text-persian-red-500 mb-4">
                Parece que las contraseñas no coinciden favor de revisar
            </p>
        }
      }

    </div>
  </div>
  