<div class="min-h-screen bg-white text-tuna-900 flex items-center justify-center px-4 font-poppins bg-[url('/assets/login-bg.svg')] bg-cover bg-center">
  <div class="bg-white shadow-2xl rounded-md p-8 max-w-md w-full text-center">
      <img src="/assets/logo-tecnm.svg" alt="logo tecnm" class="mx-auto mb-6 w-16">
      
      @if(formSubmitted){

        <h1 class="text-2xl font-bold mb-4"> Solicitud enviada con exito</h1>
        <app-button buttonText="Volver al inciio de sesión" routerLink="/login"/>

      } @else {
        <h1 class="text-2xl font-bold mb-4"> Solicita reposición de contraseña </h1>
        
        <p class="text-sm mb-6 leading-relaxed">
          El proceso de solicitud de recuperación dependerá de soporte técnico recuerde que el proceso puede tardar varios 
          <br>
          - Agradecemos su paciencia -
        </p>
        
        <form [formGroup]="form" class="flex flex-col gap-4 mb-6">
          <app-input type="email" placeholder="Ingresa tu correo electrónico" controlName="email" />
          <app-button buttonText="Solicitar" (onClick)="submitForm()"/>
        </form>
    
        <div class="text-sm">
          <p class="mb-1" >Volver al</p>
          <a routerLink="/login" class="text-sm text-radiance-800 hover:underline">
            Inicio de sesión
          </a>
        </div>
      }

    </div>
  </div>
  