

<div class="min-h-screen bg-gray-100 flex items-center justify-center px-4"
style= "font-family: 'Poppins', sans-serif; background-image: url('/assets/login-bg.svg'); background-size: cover; background-position: center;"
>

    <div class="bg-white shadow-2xl rounded-2xl p-8 max-w-md w-full text-center">
      
      <img src="/assets/logo-tecnm.svg" alt="logo tecnm" class="mx-auto mb-6 w-16">
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

      <h1 class="text-2xl font-extrabold text-gray-800 mb-4"
    
      >
        Solicita reposición de contraseña
      </h1>
      
      <p class="text-gray-600 text-sm mb-6 leading-relaxed "
      
      >
        El proceso de solicitud de recuperación dependerá 
        de soporte técnico recuerde que el proceso puede tardar varios <br>
        
        <span class="block mt-2 italic">- Agradecemos su paciencia -</span>
      </p>
      
      <div class="flex flex-col gap-4 mb-6">
        <input
          type="email"
          style="background-color: rgba(237, 250, 255, 1); color: #003E6B;"
          class="px-4 py-2 border border-blue-200 rounded-md focus:outline-none focus:ring-4 focus:ring-blue-300 bg-blue-100  text-center"
          placeholder="Ingresa tu correo electrónico"
          
        >
        <button
          type="button"
          style=" background-color: #0066CC;"
          class="bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition"
        >
          Solicitar
        </button>
      </div>
  
      <div class="text-sm text-gray-500">
        <p class="mb-1" style="font-family: 'Poppins', sans-serif;">Volver al</p>
        <a routerLink="/login" class="text-sm text-blue-600 hover:underline "
        >Inicio de sesión</a>
      </div>
    </div>
  </div>
  