<div class="fixed bg-black/50 top-0 left-0 right-0 bottom-0" 
    [ngClass]="isOpen? 'fixed' : 'hidden'"
    (click)="close()">
</div>

<div
class=" text-tuna-900 bg-white shadow-custom flex flex-col items-center text-center rounded-sm gap-8 py-12 px-8 w-11/12 max-w-sm xl:max-w-md fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50"
[ngClass]="isOpen? 'block' : 'hidden'"
>
    <img [src]="`assets/modal-${icon}.svg`" [alt]="altIcon" id="modal-icon">
    <p class=" text-[28px]/7 font-bold -tracking-tight my-0 -mx-4"> {{title}}
    </p>
    <div class="flex flex-row gap-4 font-roboto font-normal text-white w-full">
        <button class="rounded-md py-2 px-4 cursor-pointer border-none w-full  bg-nevada-500"
        (click)="close()" id="close-button" > {{ closeButton }} </button>
        <button class="rounded-md py-2 px-4 cursor-pointer border-none w-full bg-persian-red-500"
        (click)="confirm()" [ngClass]="{'bg-radiance-900': actionBG == false }" type="button" id="action-button" > {{ actionButton }}
        </button>
    </div>
</div>
