<h2 class="uppercase font-semibold p-3 pb-5 border-b-nevada-600 border-b mb-2.5 text-lg">{{tableName}}</h2>
<div class="overflow-x-auto">
    <table class="w-full text-center text-black border-separate border-spacing-y-3 text-xs table-auto">

        <thead class="bg-[#D6F2FF33] uppercase text-base">
            <tr class="[&>th]:p-3 [&>th]:min-w-32 [&>th]:font-medium">
                <th>Nombre</th>
                <th>Tipo de Usuario</th>
                <th>Fecha de creación</th>
                <th>Correo Electrónico</th>
                <th>Notas</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            @for (user of users; track user.id) {
                <tr class="[&>td]:p-3">
                    <td>{{`${user.name} ${user.paternalSurname} ${user.maternalSurname}` }}</td>
                    <td class="uppercase">{{convertRoleToLabel(user.role)}}</td>
                    <td>{{user.createdAt | date: 'dd/MM/yyyy' }} </td>
                    <td class="uppercase">{{user.email}}</td>
                    <td>{{user.notes}}</td>
                    <td class="flex justify-center items-center gap-3">
                        <button (click)="onEditAction(user)" class="rounded-full hover:bg-yellow-400">
                            <img src="./assets/icons/icon-edit.svg" alt="edit">
                        </button>
                        <button (click)="onDeleteAction(user)" class="rounded-full hover:bg-persian-red-400">
                            <img src="./assets/icons/icon-delete.svg" alt="delete">
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- No users found -->
@if (users.length === 0) {
    <div class="flex flex-col items-center justify-center py-3 text-center">
        <img src="./assets/icons/icon-sad.svg" alt="sad" class="w-12 h-12 mb-4">
        <p class="font-bold text-2xl text-tuna-900">No se encontraron usuarios</p>
    </div>
}

<!-- Pagination -->
 @if (totalPages > 0) {
     <div class="flex justify-center items-center my-4 text-radiance-900">
         <button class="border border-nevada-50 p-2 cursor-pointer"  (click)="onPageChange(currentPage - 1)"> &lt; </button>
         
         @for (i of totalPagesArray; track $index) {
             <button class="border border-nevada-50 p-2 cursor-pointer"
             (click)="onPageChange(i)"
             [ngClass]="{'bg-radiance-700 text-radiance-50': i === currentPage}"> 
             {{i + 1}}
            </button>
        }
        <button class="border border-nevada-50 p-2 cursor-pointer" (click)="onPageChange(currentPage + 1)"> &gt; </button>
        
    </div>
}
    

