<div class="font-roboto">
    <label *ngIf="labelText" [ngClass]=" {'text-persian-red-500': hasError,
                  'text-radiance-950': !hasError } " [for]="inputId">
        {{ labelText }}
    </label>

    <input [type]="inputType" [placeholder]="placeholderText" [name]="inputName" [id]="inputId" [required]="isRequired"
        [disabled]="isDisabled" [(ngModel)]="inputValue" class="
            border-2
            bg-radiance-50
            rounded-md 
            px-3 py-2 
            text-center 
            w-full" [ngClass]="{'
        bg-tuna-50 text-tuna-400 placeholder-tuna-400 cursor-not-allowed': isDisabled,
        'outline-persian-red-500 border-persian-red-200 text-persian-red-500': hasError,
        'outline-radiance-950/20 border-radiance-200/50 text-radiance-950': !hasError
        }" (input)="validateInput()" />
    <p *ngIf="hasError && errorMessage" class="text-m text-persian-red-500">
        {{ errorMessage }}
    </p>
</div>