<div class="font-roboto">
    @if(label){
        <label [for]="id" class="text-persian-red-500" [ngClass]=" {'text-radiance-950': !hasError() } ">
            {{ label }}
        </label>
    }
    <!-- Input Reactive form -->
    @if (isReactiveForm) {
        <input 
        [type]="type" 
        [placeholder]="placeholder" 
        [id]="id" 
        [formControlName]="controlName!"
        [maxlength]="maxlength" 
        class=" border-2 bg-radiance-50 rounded-md px-3 py-2 text-center w-full" 
        [ngClass]="{'
            bg-tuna-50 text-tuna-400 placeholder-tuna-400 cursor-not-allowed': disabled,
            'outline-persian-red-500 border-persian-red-200 text-persian-red-500': hasError(),
            'outline-radiance-950/20 border-radiance-200/50 text-radiance-950': !hasError()
            }" 
        />
        @if (hasError()) {
            <p class="text-m text-persian-red-500">
                {{ getErrorMessage() }}
            </p>
        }
    <!-- Input Standalone -->
    }@else {
        <input 
        [type]="type" 
        [placeholder]="placeholder" 
        [id]="id" 
        [value]="value"
        [maxLength]="maxlength"
        class=" border-2 bg-radiance-50 rounded-md px-3 py-2 text-center w-full outline-radiance-950/20 border-radiance-200/50 text-radiance-950" 
        [ngClass]="{'bg-tuna-50 text-tuna-400 placeholder-tuna-400 cursor-not-allowed': disabled}"
        (input)="onInputChange($event)" 
        />
    }

</div>