<div class="font-roboto">
    <form>

        <label *ngIf="labelText" [for]="inputId" class="text-radiance-950">
            {{ labelText }}
        </label>

        <input [type]="inputType" [placeholder]="placeholderText" [name]="inputName" [id]="inputId"
            [required]="isRequired" [disabled]="isDisabled" [ngClass]="{'
        bg-tuna-50 text-tuna-400 placeholder-tuna-400 cursor-not-allowed': isDisabled,
        }" class="
            bg-radiance-50 
            border-radiance-200/50 
            text-radiance-950 
            placeholder-radiance-950
            border-2
            outline-radiance-950/20
            rounded-md 
            px-3 py-2 
            text-center 
            w-full">
    </form>
</div>