<button type="button" [ngClass]="{'shadow-none p-0': alone}" class="shadow-custom py-6 px-4 rounded-md w-full min-w-3xs flex gap-2.5 justify-center items-center
lg:min-w-2xs
">
    <img [src]="`/assets/tool-${path}.svg`" alt="">
    <span class="text-center">
        <h1 class=" font-poppins font-semibold text-xl uppercase text-tuna-950
                    w-full"> {{ title }} </h1>
        <h2 class=" font-roboto font-light text-md uppercase text-tuna-950
                    w-full"> {{ subtitle }} </h2>
    </span>
</button>