@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
  /* Custom Colors */
  --color-radiance-50: #edfaff;
  --color-radiance-100: #d6f2ff;
  --color-radiance-200: #b5eaff;
  --color-radiance-300: #83dfff;
  --color-radiance-400: #48cbff;
  --color-radiance-500: #1eacff;
  --color-radiance-600: #068eff;
  --color-radiance-700: #007aff;
  --color-radiance-800: #085dc5;
  --color-radiance-900: #0d519b;
  --color-radiance-950: #0e315d;

  --color-tuna-50: #f6f6f9;
  --color-tuna-100: #ececf2;
  --color-tuna-200: #d6d6e1;
  --color-tuna-300: #b1b2c8;
  --color-tuna-400: #8789a9;
  --color-tuna-500: #686a8f;
  --color-tuna-600: #535476;
  --color-tuna-700: #444460;
  --color-tuna-800: #3b3b51;
  --color-tuna-900: #303040;
  --color-tuna-950: #23232e;

  --color-persian-red-50: #ffe1e3;
  --color-persian-red-100: #fee4e6;
  --color-persian-red-200: #ffc9cc;
  --color-persian-red-300: #fea3a8;
  --color-persian-red-400: #fb6e76;
  --color-persian-red-500: #f3404a;
  --color-persian-red-600: #da1e28;
  --color-persian-red-700: #bd1821;
  --color-persian-red-800: #9c181f;
  --color-persian-red-900: #811b20;
  --color-persian-red-950: #46090c;

  --color-nevada-50: #f4f6f7;
  --color-nevada-100: #e4e8e9;
  --color-nevada-200: #cbd2d6;
  --color-nevada-300: #a7b2b9;
  --color-nevada-400: #7c8a94;
  --color-nevada-500: #5e6c76;
  --color-nevada-600: #535e67;
  --color-nevada-700: #474f57;
  --color-nevada-800: #3f454b;
  --color-nevada-900: #383d41;
  --color-nevada-950: #22262a;

  /* Custom Fonts */
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}
